html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* color: white; */
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
}

.center {
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(12.5%, 5%);
}

.fullPageCard {
    width: 90%;
    height: 85%;
    top: 57.5%;
    left: 50%;
    overflow-y: scroll;
    margin: 0 auto;
}

*{
    /* HIDE SCROLL BAR */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

/* HIDE SCROLL BAR */
*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.resumeTitle{
    font-size: xx-large;
    margin-bottom: 0;
    font-weight: bold !important;
    font-family: 'Libre Baskerville', serif;
    color: #1976d2;
    margin-top: 0;
}

.resumeHeader{
    text-decoration: underline;
    font-size: large;
    font-weight: bold !important;
    font-family: 'Libre Baskerville', serif;
    color: #1976d2;
    padding-top: 0.5em;
}

.personalLinksContainer{
    display: inline;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.pageContainer{
    position: relative;
    margin: auto;
    top: 5vh;
    height: 100vh;
    max-width: 950px;
}

.fullPagePaper{
    height: 100vh;
}

.personalLinkNormalText{
    font-family: 'Libre Franklin', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    text-decoration: none;
}

.personalLinkColon{
    text-decoration: none;
    color: black;
}

.personalLinksContainerPaddingLeft{
    display: inline;
    margin-left: 7%;
}

.personalLink{
    font-family: 'Libre Franklin', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #1976d2
}

.oneRowTable{
    width:100%; 
}

.boldText{
    font-weight: bold !important;      
}

.boldTextPaddingRight{
    font-weight: bold !important;
    margin-left: auto !important;
    margin-right: 0px !important;
}

.fullPage{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.languageBulletList{
    font-size: 16px;
}

.titleAndDateLine{
    display: flex;
    padding-bottom: 0.5%;
}

.largeBullet{
    font-weight: bolder !important;
    font-size: large;
}

.rightTab{
    margin-left: auto !important;
    margin-right:0px !important;
}

.underConstructionText{
    font-family: 'Libre Franklin', sans-serif;
    font-size: xx-large;
    text-align: center;
    transform: translate(0%,100%);
}

.underFullPagePaper{
    transform: translate(-50%, 0);
    top: 7%;
    left: 50%;
    margin-bottom: 100px !important;
}

.centerImage{
    width: 50%;
    max-width: 475px;
    position: relative;
    left: 25%;
}

@media screen and (max-width: 770px) {
    .personalLink{
        display: none;
    }

    .personalLinkColon{
        display: none;
    }

    .personalLinkNormalText{
        text-decoration: underline;
        color: #1976d2;
    }   

    .languageBulletPoint{
        font-size: 15px;
    }
}

@media screen and (max-width: 540px) {
    .languageBulletList{
        display: grid;
    }   
}

@media screen and (min-width: 1100px) {
    .rightTab{
        margin-right: 370px;
    }   
}

hr{
    height: 0px;
    border: none;
    border-top: 2px solid black;
    margin-top: 4px;
    color: #1976d2;
}

p{
    font-family: 'Libre Franklin', sans-serif;
    margin: 0px;
}

td{
    margin-right: 20px;
    font-family: 'Libre Franklin', sans-serif;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue'), url(../fonts/HelveticaNeue.ttf) format('truetype');
  }

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting  */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  
img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    img.bg {
        left: 50%;
        margin-left: -512px;
    }
}

body {
    width: 100%;
    margin: 0;
    background-color: white;
}
  
body .content {
    width: 100vw;
    height: 100vh;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
    overflow: auto;
}

body .content section {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.homeBackground{    
    background-color: #222f40;
}

.centeredPaper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    min-width: 300px;
    background-color: unset !important;
    box-shadow: none !important;
}

.verticalLine {
    height: 300px;
    border-right: 2px solid #000900;
    position: absolute;
    right: 50%;
    margin-left: 0px !important;
    height: 100%;
}

.arrowGroup{
    display: table;
    margin: 0 auto;
    transform: rotate(90deg) scale(1.9);;
    margin-top: 6vh;
}

.darkBlueArrow{
    color: #0090c1;
    font-size: 5vmin !important;
}

.lightBlueArrow{
    margin-right: -35%;
    color: #98eaff;
    font-size: 5vmin !important;
}

.homeText{
    font-family: 'Lora', serif !important;
}

.homeFirstName{
    font-family: 'Poppins', sans-serif !important;
    line-height: 0.9 !important;
    font-size: 9vw !important;
    color: #0090c1;
}

.homeSecondName{
    font-family: 'Poppins', sans-serif !important;
    line-height: 0.9 !important;
    font-size: 9vw !important;
    color: #98eaff;
}

/* https://www.w3schools.com/howto/howto_css_split_screen.asp */
@media (min-width: 662px) {
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    #centeredName{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .firstCircle{
        background-color: #0090c1;
        width: 36vw;
        height: 36vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-54%, -54%);
        clip-path: circle();
    }
    
    .secondCircle{
        background-color: #98eaff;
        width: 36vw;
        height: 36vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-52%, -52%);
        clip-path: circle();
    }
    
    .userImageCircle{
        background: url(../images/mikeSquare.jpg) 50% 0% no-repeat;
        width: 36vw;
        height: 36vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clip-path: circle();
        background-size: 140%;
    }
}

/* https://stackoverflow.com/questions/17822872/split-screen-horizontally-in-2-div */
@media (max-width: 662px) {
    .split {
        position: absolute;
        left: 0;
        right: 0;
    }

    .left {
        height: 40%;
        top: 0;
    }
    
    .right {
        height: 60%;
        bottom: 0;
    }

    .centeredImage{
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 200px;
    }

    .firstCircle{
        background-color: #0090c1;
        width: 42vw;
        height: 42vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-54%, -54%);
        clip-path: circle();
    }
    
    .secondCircle{
        background-color: #98eaff;
        width: 42vw;
        height: 42vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-52%, -52%);
        clip-path: circle();
    }
    
    .userImageCircle{
        background: url(../images/mikeSquare.jpg) 50% 0% no-repeat;
        width: 42vw;
        height: 42vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clip-path: circle();
        background-size: 140%;
    }

    #centeredName{
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .homeFirstName{
        font-size: 14vmin !important;
    }

    .homeSecondName{
        font-size: 14vmin !important;
    }
}

#section2{
    background-color: #222f40 !important;
}

#section3{
    background-color: #222f40 !important;
}

#section4{
    background-color: #222f40 !important;
}

.homeHeader{
    background-color: #046e8f !important;
    border-radius: 25px;
}

.headerName{
    color: #ccf5ff !important;
}

.headerContainer{
    display: none;
    width: 95vw;
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    top: 3vh;
}

.homeAboutMeText{
    color: #e0dfde;
    font-size: 4vmin !important;
    font-family: 'Lora', sans-serif !important;
}

#centeredText{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.fullContainer{
    width: 100%;
    height: 100%;
}

#contactButton{
    color: #e0dfde;
    background-color: #0090c1;
    font-family: 'Poppins', sans-serif !important;
    width: 40%;
    margin-top: 15px;
}

#contactField{
    background-color: #e0dfde;
}

#centeredStack{
    display:flex;
    display:-webkit-flex;
    justify-content:center;
    align-items:center;
}

.inputField{
    width: 70%;
    height: 30%;
    resize: none;
    border-radius: 10px;
    background-color: #e0dfde;
    color:black;
}
